{% extends "layout.html" %}

{% block page_title %}Flask prototyping index{% endblock %}

{% block main_content %}

  <a href="/" class="link-back">Back</a>

  <h1 class="heading-large">Enter your email address</h1>

  <form>
    <fieldset>

      <legend class="visuallyhidden">Do you know your work email?</legend>

      <div class="form-group">
        <label class="form-label" for="work-email">Email</label>
        <input class="form-control" name="work-email" type="text" id="work-email">
      </div>

    </fieldset>

    <div class="form-group">
      <button class="button">Continue</button>
    </div>

  </form>
{% endblock %}