{% set global_header_text = "GOV.UK Access" %}
{% extends "layout.html" %}

{% block page_title %}Flask prototyping index{% endblock %}

{% block main_content %}

  <a href="/" class="link-back">Back</a>

  <h1 class="heading-xlarge">Where do you work?</h1>
  <div class="summary"><p>Some government staff can create accounts/log in with their standard work username and password.<br/>
    Supported teams can choose from an option below. Otherwise select 'none of the above'</p></div>

  <form>
    <fieldset class="form-group">

      <legend class="visuallyhidden">Which department or agency do you work for?</legend>

      {% for idp in idps %}
        <label class="block-label selection-button-radio" for="department-{{ idp.short_name }}">
          <input id="department-{{ idp.short_name }}" type="radio" name="radio-know-email-group" value="Yes" aria-controls="know-email" aria-expanded="true">
          <span class="selection-heading">{{ idp.department }}</span>
          <p class="selection-help-text text">{{ idp.blurb }}</p>
        </label>
      {% endfor %}

      <p class="form-block">or</p>

      <label class="block-label selection-button-radio" for="none-of-the-above">
        <input id="none-of-the-above" type="radio" name="radio-know-email-group" value="No" aria-controls="know-email" aria-expanded="false">
        None of the above
      </label>

    </fieldset>

    <p>If registering, the service will attempt use your basic profile information to populate your account.</p>

    <div class="form-group">
      <button class="button">Submit</button>
    </div>

  </form>
{% endblock %}
