{% extends "layout.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block main_content %}

  <a href="/" class="link-back">Back</a>

  <h1 class="heading-large text">Select the department you work for</h1>

  <div class="text email-callout">
    <p>Email address you provided</p>
    <div class="email-given">colm.britton@digital.cabinet-office.gov.uk</div>
    <p><a href="">Update this email</a></p>
  </div>

  <p class="text">Based on the email you have provided we have believe you work for one of the departments listed below. Please select the correct department.</p>

  <h2 class="heading-medium">Which department do you work for?</h2>

  <form>
    <div class="form-group">
      <fieldset>

        <legend class="visuallyhidden">Which department do you work for?</legend>

        <label class="block-label selection-button-radio" for="department-hmrc">
          <input id="department-hmrc" type="radio" name="radio-know-email-group" value="Yes" aria-controls="know-email" aria-expanded="true">
          HMRC
        </label>

        <label class="block-label selection-button-radio" for="department-moj">
          <input id="department-moj" type="radio" name="radio-know-email-group" value="No" aria-controls="know-email" aria-expanded="false">
          MOJ
        </label>

        <label class="block-label selection-button-radio" for="department-mod">
          <input id="department-mod" type="radio" name="radio-know-email-group" value="No" aria-controls="know-email" aria-expanded="false">
          MOD
        </label>

        <p class="form-block">or</p>

        <label class="block-label selection-button-radio" for="none-of-the-above">
          <input id="none-of-the-above" type="radio" name="radio-know-email-group" value="No" aria-controls="know-email" aria-expanded="false">
          None of the above
        </label>

      </fieldset>
    </div>

    <div class="form-group">
      <button class="button">Continue</button>
    </div>

  </form>

{% endblock %}