{% extends "layout.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-large text">Is this the first time you have used THE BROKER?</h1>

  <form>
    <div class="form-group">
      <fieldset>

        <legend class="visuallyhidden">Is this the first time you have used THE BROKER?</legend>
        <label class="block-label selection-button-radio selected" for="know-email-yes">
          <input id="know-email-yes" type="radio" name="radio-know-email-group" value="Yes" aria-controls="know-email" aria-expanded="true">
          Yes
        </label>

        <label class="block-label selection-button-radio" for="know-email-no">
          <input id="know-email-no" type="radio" name="radio-know-email-group" value="No" aria-controls="know-email" aria-expanded="false">
          No
        </label>

      </fieldset>
    </div>
    <div class="form-group">
      <button class="button">Confirm</button>
    </div>
  </form>
</main>
{% endblock %}