{% extends "layout.html" %}

{% block page_title %}Flask prototyping index{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">Accessing GOV services</h1>

  <p class="lede text">Static prototypes for the various pages and flow through the proposed broker.</p>

  <h2 class="heading-large">Pages</h2>

  <h3 class="heading-medium">Broker pages</h3>

  <ul class="list-bullet">
    <li>
      <a href="{{ url_for('broker.confirm') }}">Confirm IDP routing</a>
    </li>
    <li>
      <a href="{{ url_for('broker.choose') }}">Choose from a reduced list of IDPs</a>
    </li>
    <li>
      <a href="{{ url_for('broker.select') }}">Find and select from complete list of IDPs</a>
    </li>
    <li>
      <a href="{{ url_for('broker.request_email') }}">Check if user knows their email</a>
    </li>
    <li>
      <a href="{{ url_for('broker.email_suggestion') }}">IDP choice based on email</a>
    </li>
    <li>
      <a href="{{ url_for('broker.similar_email_suggestion') }}">IDP choice based on email being similar to another</a>
    </li>
    <li>
      <a href="{{ url_for('broker.first_time') }}">Ask user if first time using broker</a>
    </li>
  </ul>

  <h3 class="heading-medium">Notify pages</h3>
  <ul class="list-bullet">
    <li>
      <a href="{{ url_for('notify.register_account') }}">Create account</a>
    </li>
  </ul>

  <h3 class="heading-medium">Other pages</h3>
  <ul class="list-bullet">
    <li>
      <a href="{{ url_for('local.sign_in') }}">Sign in</a>
    </li>
    <li>
      <a href="{{ url_for('local.create_account') }}">Create account</a>
    </li>
    <li>
      <a href="{{ url_for('base.product_page') }}">Product page</a>
    </li>
  </ul>

  <h2 class="heading-large">Resources used to build these</h2>

  <ul class="list-bullet">
    <li>
      <a href="https://github.com/colmjude/flask_prototyping">
        Flask prototype documentation
      </a>
    </li>
    <li>
      <a href="http://govuk-elements.herokuapp.com/snippets/">
        Guide to GOV.UK elements HTML
      </a>
    </li>
    <li>
      <a href="https://github.com/alphagov/govuk_frontend_toolkit">
        Frontend toolkit repo
      </a>
    </li>
    <li>
      <a href="https://www.gov.uk/service-manual">
        Service design manual
      </a>
    </li>
    <li>
      <a href="https://www.gov.uk/design-principles">
        Government Digital Service Design Principles
      </a>
    </li>
</ul>


</main>
{% endblock %}