{% extends "layout.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="/" class="link-back">Back</a>

  <h1 class="heading-medium">
    Do you know your work email?
  </h1>

  <form class="email-form">
    <div class="form-group">
      <fieldset>

        <legend class="visuallyhidden">Do you know your work email?</legend>

        <label class="block-label selection-button-radio" for="know-email-yes">
          <input id="know-email-yes" type="radio" name="radio-know-email-group" value="Yes" aria-controls="know-email" aria-expanded="true">
          Yes
        </label>
        <div class="panel panel-border-narrow sub-selection-input" id="know-email" aria-hidden="false">
          <label class="form-label" for="work-email">Email address</label>
          <input class="form-control" name="work-email" type="text" id="work-email">
        </div>

        <label class="block-label selection-button-radio" for="know-email-no">
          <input id="know-email-no" type="radio" name="radio-know-email-group" value="No" aria-controls="know-email" aria-expanded="false">
          No
        </label>

      </fieldset>
    </div>
    <div class="form-group">
      <button class="button">Confirm</button>
    </div>
  </form>

</main>
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script>
  ;(function ($, window) {
    "use strict"

    $(function() {
      $(".email-form button").on("click", function(e) {
        var selection = $(".email-form input[name=radio-know-email-group]:checked").val() || "Yes";
        e.preventDefault();
        if( selection === "No" ) {
          window.location.href = "{{ url_for('broker.mvp_select_idp') }}";
        } else {
          window.location.href = "{{ url_for('broker.confirm') }}";
        }
      });
    });

  }).call(this, jQuery, window);
  </script>
{% endblock %}
