{% set global_header_text = "GOV.UK Access" %}
{% extends "layout.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block proposition_name %}{% endblock %}

{% block main_content %}
<main id="content" role="main">


  <h1 class="heading-large">
    You have been signed out of a service
  </h1>

  <a href="{{ url_for('notify.product_page') }}">Return to Notify</a>

  <div class="notice">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <p class="text">
        You are still logged into your email account. <a href="">Go to email account to log out</a>
      </p>
  </div>

</main>
{% endblock %}