{% extends "layout.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block main_content %}

  <a href="/" class="link-back">Back</a>

  <h1 class="heading-large text">Select your department</h1>

  <div class="text email-callout--warning">
    <p>Email address you provided</p>
    <div class="email-given">colm.britton@digital.cabinet-offic.gov.uk</div>
    <p><a href="">Update this email</a></p>
  </div>

  <p class="text">The email address you provided looks similar to <span class="bold">@digital.cabinet-office</span> email addresses. We've presented a list of departments based on that, please update if we've got that wrong.</p>

  <h2 class="heading-medium">Do you work for one of these departments?</h2>

  <form>
    <div class="form-group">
      <fieldset>

        <legend class="visuallyhidden">Do you work for one of these departments?</legend>

        <label class="block-label selection-button-radio" for="department-hmrc">
          <input id="department-hmrc" type="radio" name="radio-know-email-group" value="Yes" aria-controls="know-email" aria-expanded="true">
          CO
        </label>

        <label class="block-label selection-button-radio" for="department-moj">
          <input id="department-moj" type="radio" name="radio-know-email-group" value="No" aria-controls="know-email" aria-expanded="false">
          GDS
        </label>

        <label class="block-label selection-button-radio" for="department-mod">
          <input id="department-mod" type="radio" name="radio-know-email-group" value="No" aria-controls="know-email" aria-expanded="false">
          CCS
        </label>

        <p class="form-block">or</p>

        <label class="block-label selection-button-radio" for="none-of-the-above">
          <input id="none-of-the-above" type="radio" name="radio-know-email-group" value="No" aria-controls="know-email" aria-expanded="false">
          I do not work for any of these departments
        </label>

      </fieldset>
    </div>

    <div class="form-group">
      <button class="button">Continue</button>
    </div>

  </form>

{% endblock %}