{% set global_product_name = "Access" %}
{% extends "layout.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block main_content %}
<main id="content" role="main">

  <a href="/" class="link-back">Back</a>

  <div class="messaging-panel">
    <div class="gird-row">
      <div class="column-quarter single-image">
        <img src="/static/images/icon-not-authenticated.png" alt="" />
      </div>
      <div class="column-three-quarters panel-content">
        <p class="lede">We are now redirecting you to your work email. This will allow you to be authenticated.</p>
        <div class="panel">If you already have an active session you will not be asked to re-enter you credentials.</div>
      </div>
    </div>

  </div>

</main>
{% endblock %}

{% block body_end %}
<script>
  var redirect_url = "{{ next_url|default(url_for('broker.google_email')) }}";
  window.setTimeout(function(){

    // Move to a new location or you can do something else
    window.location.href = redirect_url;

  }, 4000);
</script>
{% endblock %}
