{% set global_header_text = "GOV.UK Access" %}
{% extends "layout.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block main_content %}
<main id="content" role="main">

  <a href="/" class="link-back">Back</a>

  <h1 class="heading-large text">Authenticated so transferring you back to the GOVUK Notify service</h1>

</main>
{% endblock %}

{% block body_end %}
<script>
  var redirect_url = "{{ url_for('notify.register_account') }}";
  window.setTimeout(function(){

    // Move to a new location or you can do something else
    window.location.href = redirect_url;

  }, 3000);
</script>
{% endblock %}