<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["../../assets/css/fonts-ie8.css"]},
       c="assets/govuk_template/javascripts/vendor/goog/webfont-debug.js",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->

    <!-- The stylesheets-->
    {% assets "css_journeys" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

  <title>AGS journey viewer</title>

  {% block head %}{% endblock %}

</head>
<body>

{% block body_content %}
<p class="app-header"></p>

<h1>AGS design work viewer <small class="app-status">Alpha</small></h1>

<div id="content">

  <p class="intro">Browse the some of the design work that has gone into the AGS alpha. You'll be able to look at the journeys and how they have changed over time, as well as some diagrams the aim to explain the problem and the tech choices made.</p>

  <h2>Journeys</h2>

<ul class="exemplar-list">
  <li><a href="/journeys/department_idp_screenshots">1. Department IDP screenshots</a></li>
  <li><a href="/journeys/design_iterations">2. Sign in journey</a> (main)</li>
  <li><a href="/journeys/sign_out_journeys">3. Sign out journey</a></li>
</ul>

  <h2>Diagrams</h2>

  <ul class="exemplar-list">
    <li><a href="/static/images/diagrams/accessing_service_multi_gaap_consumption.png">The access problem</a><span class="date-text">30th Aug 2016</span></li>
    <li><a href="/static/images/diagrams/accessing_via_broker_v4.jpg">Access via a broker diagram (for blog post)</a><span class="date-text">22nd Sept 2016</span></li>
    <li><a href="/static/images/diagrams/accessing_services_tiered_v3.jpg">AGS broker, tiered approach diagram</a><span class="date-text">13th Sept 2016</span></li>
    <li><a href="/static/images/diagrams/Accessing_broker_journeys_v2.jpg">Paths through gateway v2</a><span class="date-text">17th Oct 2016</span></li>
    <li><a href="/static/images/diagrams/mvp_gateway_journey.png">Basic journey flows v2</a><span class="date-text">29th Nov 2016</span></li>
    <li><a href="/static/images/diagrams/tech_arch_diagram_high_level_V2.png">High level tech arch diagram v2</a><span class="date-text">12th Jan 2017</span></li>
    <li><a href="/static/images/diagrams/ags_gateway_v2.png">AGS Gateway tech diagram v2</a><span class="date-text">13th Jan 2017</span></li>
  </ul>

</div>
{% endblock %}

{% block body_end %}{% endblock %}
</body>
</html>
