// Common place to import all GOV.UK CSS things

@import "../govuk_elements/public/sass/main.scss";

@import "base/base.scss";
@import "base/variables.scss";
@import "base/typography.scss";
@import "base/forms.scss";
@import "base/icons.scss";

@import "layout/grid.scss";
@import "layout/header.scss";

@import "patterns/product-page.scss";
@import "patterns/search.scss";
@import "patterns/service-explanation-box.scss";
@import "patterns/callout.scss";
@import "patterns/banners.scss";

@import "pages/index.scss";
@import "pages/notify.scss";
@import "pages/idp-selection-pages.scss";

.cya-section {
  border-top: 1px solid $border-colour;
  margin-top: $gutter;
  padding-top: $gutter-half;

  .heading-medium {
    margin-top: 0;
  }
}

.page-title {
  margin: 60px 0 30px;
}

.authenticated-box {
  @include banner-block();

  .authenticated-details {
    margin-top: 10px;
  }
}

.email-callout {
  @include callout();
}

.email-callout--warning {
  @include callout(lighten($focus-colour, 25%));
}

// -------
// tweaks to make notice work how we want
// -------
.notice {
  margin-top: $gutter;
  p {
    display: block;
    padding-left: (35 + 30) + px;
    margin-left: -$gutter-half;
  }
}