// Common place to import all GOV.UK CSS things

@import "../govuk_elements/public/sass/main.scss";

@import "base/base.scss";
@import "base/variables.scss";
@import "base/typography.scss";
@import "base/forms.scss";
@import "base/icons.scss";

@import "layout/grid.scss";
@import "layout/header.scss";

@import "patterns/product-page.scss";
@import "patterns/search.scss";
@import "patterns/service-explanation-box.scss";

@import "pages/index.scss";
@import "pages/notify.scss";
@import "pages/idp-selection-pages.scss";

.confirm-banner {
  margin: $gutter-half 0;
  background: $turquoise;
  color: $page-colour;
  padding: 6px $gutter-half 4px;

  p {
    margin: 0;
  }

  .tick-icon {
    padding-right: 10px;
  }
}

.cya-section {
  border-top: 1px solid $border-colour;
  margin-top: $gutter;
  padding-top: $gutter-half;

  .heading-medium {
    margin-top: 0;
  }
}

.selection-heading {
  font-weight: bolder;
}

.selection-help-text {
  font-size: 16px;
  margin: 0.25em 0;
}

.page-title {
  margin: 60px 0 30px;
}

.authenticated-box {
  background: $turquoise;
  color: $page-colour;
  padding: 25px $gutter 20px;
  margin-bottom: $gutter;

  .tick-icon {
    text-align: center;
    margin: auto;
  }
  h3 {
    margin: 0;
  }
  .authenticated-details {
    margin-top: 10px;
  }
}

%info-callout {
  border: 1px solid $border-colour;
  background: lighten($light-blue, 42%);
  border-radius: 4px;
  padding: $gutter-half;
  margin-bottom: 45px;

  p {
    margin: 0;
  }

  .email-given {
    font-weight: bold;
    font-size: 24px;
    margin: $gutter-third 0;
  }
}

.email-callout {
  @extend %info-callout;
}

.email-callout--warning {
  @extend %info-callout;
  background: lighten($focus-colour, 25%);
}

// -------
// tweaks to make notice work how we want
// -------
.notice {
  margin-top: $gutter;
  p {
    display: block;
    padding-left: (35 + 30) + px;
    margin-left: -$gutter-half;
  }
}